data_files:
  close: '/data/research/alpha_i/JPN_mktdata.h5'
  volume: '/data/research/alpha_i/JPN_mktdata_vol.h5'
  adjustments: '/data/research/alpha_i/JPN_mktdata_adj.h5'

simulation_start: '2016-01-01'
simulation_end: '2016-03-01'
